html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    background: url("assets/people.jpg") no-repeat center center fixed;
}

button {
    cursor: pointer;
}